/* NAVBAR */
#navbar {
    font-size: larger;
    text-align: center;
    background-color:darkslategray;
    height: fit-content;
    margin-top: 1%;
    flex-shrink: 1;
}

#navbar header {
    background-color: steelblue;
    font-size: 21px;
    padding: 6px;
}

#navbar p {
    display: block;
    align-items: center;
    font-size: 19px;
}

#navbar li {
    list-style-type: none;
    margin-top: 90%;
}

#navbar a {
    text-decoration: none;
    color: black;
    background-color: black;
    padding: 2px;
    color: white;
}

#navbar a:hover {
    text-decoration: none;
    color: black;
    background-color: steelblue;
    padding: 2px;
    color: white;
}


/* BODY */


body {
    margin: 5px 10px 10px 5px;
    display: flex;
    flex-basis: initial;
}

.left {
    margin-top: 5px;
    margin-left: 25px;
    margin-right: 50px;
}


#main-doc {
    -ms-flex-item-align: center;
    margin-left: 10%;
    width: 50%;
    flex-shrink: 1;
}

#main-doc p {
    font-size: 21px;
}

#main-doc li {
    font-size: 19px;
}

.main-section {
    margin-top: 35px;
}

h2 {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-color: darkslategrey;
    color: white !important;
    padding: 5px;
}

.alt-p{
    margin-top: 20px;
    text-decoration: underline;
}

/* GREEN CODE */
.coding {
padding: 15px;
color: green;
background-color: black;
}
