/* COLORS
celtic blue - 276FBF
space cadet - 183059
background cultured - F6F4F3
redwood - AF5B5B
accent redsalsa - F03A47 
*/

/* NAVBAR FOR DESKTOP ------------------------------------------------------------------------------------------------- */
@media only screen and (min-width: 1366px) {
    #navbar {
    font-size: larger;
    text-align: center;
    background-color:#183059;
    height: fit-content;
    margin-top: 1%;
    flex-shrink: 1;
    position: fixed;
}


#navbar header {
    background-color: #276FBF;
    font-size: 21px;
    padding: 6px;
}

#navbar p {
    display: block;
    align-items: center;
    font-size: 19px;
    color: #F6F4F3;
}

#navbar li {
    list-style-type: none;
    margin-top:80%;
}

#navbar a {
    text-decoration: none;
    color: black;
    padding: 2px;
    color: #F6F4F3;
}

#navbar a:hover {
    text-decoration: none;
    color: black;
    background-color: #F03A47;
    padding: 2px;
    color: #F6F4F3;
}

#navbar label {
    opacity: 0;
}

#toggle-mobile-menu {
    opacity: 0;
}

}   

/* NAVBAR FOR TABLETS/MOBILE ------------------------------------------------------------------------------------------------- */
@media only screen and (max-width: 1365px) {
    #navbar /* site*/ {
    display: block;
    background: #000;
    height: 48px;
    width: 50%;
    margin-right: 10%;
    padding-top: 30px;
    position:fixed;
    display: flex;
    align-self: center;
    font-size: small;
    text-align: center;
    background-color:  #183059;
    margin-top: 1%;
    flex-shrink: 1;
    flex-wrap: wrap;
    flex-direction: row;
}



#navbar li {
    list-style-type: none;
    display: grid;
    grid-template-rows: 100%;
    grid-template-columns: 50px 50px 50px 50px 50px;
    grid-row-gap: 10px;
    justify-self: center;
    margin-bottom: 5px;
}



#navbar header {
    opacity: 0 ;
}

#navbar a {
    text-decoration: none;
    color: black;
    padding: 2px;
    color: #F6F4F3;
}

#navbar a:hover {
    text-decoration: none;
    color: black;
    background-color: #F03A47;
    padding: 2px;
    color: #F6F4F3;
}
}   

/* BODY -------------------------------------------------------------------------------------------------------------- */

@media only screen and (min-width: 1366px) {
body {
    margin: 5px 10px 10px 5px;
    display: flex;
    flex-basis: initial;
    flex-direction: row;
    flex-flow: row;
}
}

@media only screen and (max-width: 1365px) {
    body {
        margin: 5px 10px 10px 5px;
        display: flex;
        flex-basis: initial;
        flex-direction: column;
        flex-flow: column;
    }
    }

.left {
    margin-top: 5px;
    margin-left: 25px;
    margin-right: 60px;
}


#main-doc {
    flex-wrap: wrap;    
    margin-left: 20%;
    width: 50%;
    flex-shrink: 1;
}

@media only screen and (max-width: 1365px) {
    #main-doc {
        flex-wrap: wrap;
        margin-left: 20%;
        width: 50%;
        flex-shrink: 1;
        margin-top: 50px;
    }
}

@media only screen and (max-width: 1365px) {

#main-doc p {
    font-size: 15px;
}

#main-doc li {
    font-size: 15px;
}

.main-section {
    margin-top: 35px;
}
}
@media only screen and (min-width: 1366px) {

    #main-doc p {
        font-size: 19px;
    }
    
    #main-doc li {
        font-size: 19px;
    }
    
    .main-section {
        margin-top: 35px;
    }
    
    }

h2 {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-color: #183059;
    color: #F6F4F3 !important;
    padding: 5px;
}

.alt-p{
    margin-top: 30px;
    text-decoration: underline;
}


@media only screen and (min-width: 1366px) {
/* GREEN CODE */
.coding {
padding: 10px;
color: #F03A47;
max-width: 100%;
}
}

@media only screen and (max-width: 1365px) {
    /* GREEN CODE */
    .coding {
    font-size: 12px;
    padding: 10px;
    color: #F03A47;
    max-width: 100%;
    }
}
